h3{
    text-align: center;
    margin-top: 40px;
}
.container {
    margin: auto;
    border: none;
    border-radius: 10px;
}
.result {
    height: 60px;
    background-color:rgba(0, 255, 255, 0.281);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px;
    font-size: 24px;
    border-bottom: 2px solid #333;
}
.numbers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
button {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    padding: 20px;
    background-color:rgba(127, 255, 212, 0.354);
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}
button:hover {
    background-color: #e0e0e0;
}
.clear {
    grid-column: span 4;
    background-color:#e0e0e0; 
    height: 40px;
    font-weight: bold;
    text-align: center;  
    font-size: 18px;
    padding-top: 10px;
}
